* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pathway Extreme', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-style: oblique;
    font-size: 30px;
}

span {
    font-size: 20px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ece9e9;
}


::-webkit-scrollbar-thumb {
    background: rgb(79, 22, 91);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(99, 22, 91);
}

a {
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    font-size: 1.5rem;
}

.widht {
    max-width: 1600px;
}


.icon {
    position: absolute;
    z-index: 4;
    left: 1%;
    width: fit-content;
    height: 44px;
    cursor: pointer;

}

.hamburgue {
    top: 50%;
    left: 10%;
    width: 30px;
    height: 6px;
    background: red;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburgue:before {
    top: -12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: red;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburgue:after {
    top: 12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: red;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.list {
    display: flex;
    flex-direction: column;
    left: 1%;
    margin: 45px 0 0;
    flex-wrap: nowrap;
    color: blue;
    font-size: 1.2rem;
    font-weight: 600;
}
.list a {
    color: blue;
}
.list .listItems {
    padding: 0;
    list-style: none;
}

.list .listItems li {
    margin: 2px 0;
    cursor: pointer;
}

.list .listItems li:hover {
    font-weight: bold;
}

.icon.iconActive .hamburgue {
    background: transparent;
    box-shadow: 0 2px 5px transparent;
}
.icon.iconActive .hamburgue:after {
    top: 0;
    background: white;
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}


.icon.iconActive .hamburgue:before {
    top: 0;
    background: white;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}


