.carousel {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

.inner {
    display: flex;
}

.item {
    min-height: 200px;
    min-width: 400px;
    padding: 10px;
    cursor: grab;
}

.item {
    
}

.item img {
    width: 450px;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel{

    overflow: hidden;
}

.motion{
    display: flex;
    max-width: 900px;
}