.carousel {
    height: 100%;
    width: 100%;
}

.inner {
    display: flex;
}

.item {
    min-height: 400px;
    min-width: 650px;
    padding: 20px;
    cursor: grab;
}


.item img {
    width: 600px;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel{
    max-width: 80%;
    overflow: hidden;
}

.motion{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 70vh;
}
